@charset "UTF-8";

/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: rgb(0, 149, 255);
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: rgb(167, 255, 74);
}

#principal {
    text-align: center;
    background-color: blueviolet;
    color: rgb(0, 149, 255);
    border-radius: 9px;
}

h2 {
    color: blueviolet;
}

.basico {
    color: yellow;
}

.intermediario {
    color: green;
}

.avancado {
    color: red;
}

.destaque {
    background-color: blueviolet;
    border-radius: 9px;
}